x-modal#bronnen-modal {

  h2 {
    font-size: 50px;
    color: white !important;
    text-shadow: -2px -2px 0 #c20000, 2px -2px 0 #a80101, -2px 2px 0 #8a0000, 2px 2px 0 #8a0000;

  }

  ul {
    font-size: 20px;
    text-align: center;

    li {
      list-style: none;
      padding: 12px 12px;
      border-radius: 10px;

      a {
        color: white;
      }
    }
  }
  ul{
    li:hover{
      background-color: #413f3f;
      cursor: pointer;
    }
  }

}