x-modal {
  > div.container {
    max-width: 1200px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
  }

  > i {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
  }

  > picture {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
  }
}